@using SocialApp.DB.ViewModel
@model AddOrganizationViewModel
@{
    ViewBag.Title = "CreateOrganization";
}

<style>
    .form-control.file-upload {
    height: auto;
}
</style>
<h2>Create Organization</h2>
<div class="row">
    <h3 class="text-center text-info">@ViewBag.StatusMessage </h3>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>Add Organization Details.</h4>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("CreateOrganization", "Admin", FormMethod.Post, new { enctype = "multipart/form-data",  @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.LogoPath, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @*@Html.EditorFor(m => m.LogoPath, new { htmlAttributes = new { @class = "form-control" } })*@
                        <input type="file" id="LogoPath" name="LogoPath" class="form-control file-upload" />
                        @*@html.validationmessagefor(m => m.logopath, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Add" class="btn btn-primary" />
                        <a href="@Url.Action("","Admin")" class="btn btn-default">Cancel</a>
                    </div>
                </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

